<div class="dialog-header">
    <h1>Upload a Track</h1>
    <button (click)="close()" class="close-button" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form (ngSubmit)="onUpload()">
    <div>
      <label for="trackName">Track Name:</label>
      <input id="trackName" type="text" [(ngModel)]="trackName" name="trackName" required>
      <div *ngIf="!trackName" class="error-message" style="color: red;">
        {{ errorMessages.trackName }}
      </div>
    </div>

    <div>
        <label for="category">Category:</label>
        <select id="category" [(ngModel)]="selectedCategory" name="category" required>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        <div *ngIf="!selectedCategory">
          Category selection is required.
        </div>
    </div>
      
  
    <div>
      <label for="file">File:</label>
      <input type="file" id="file" (change)="onFileChange($event)" required accept=".mp3,.wav">
      <div *ngIf="errorMessages.file" class="error-message" style="color: red;">
        {{ errorMessages.file }}
      </div>
    </div>
  
    <button type="submit">Upload</button>
  </form>
  