.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Hauteur pleine pour centrer verticalement */
    background-color: rgba(30, 30, 30, 0.9); /* Fond sombre */
}

.game-input {
    width: 80%; /* Prendre une bonne partie de la largeur */
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff; /* Fond blanc pour le champ de saisie */
    color: #000; /* Texte noir */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre douce */
}

button {
    width: 50%; /* Largeur du bouton */
    padding: 10px;
    border-radius: 4px; /* Arrondi pour le bouton */
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Effet de survol */
}

button:active {
    transform: scale(0.95); /* Effet de clic */
}