<!-- collection-list.component.html -->
<div class="collection-list gradient-custom">
  <div *ngIf="!showingTracks; else trackList">
    <h2>Mes Collections</h2>
    <!-- Bouton pour créer une nouvelle collection -->
    <button (click)="openCollectionForm()" mat-raised-button color="primary">Créer une Nouvelle Collection</button>
    <ul>
      <li *ngFor="let collection of collections" (click)="openCollectionTracks(collection.id)" class="collection-item">
        <div class="collection-info">
          <h3>{{ collection.name }}</h3>
          <span class="collection-public">{{ collection.public ? 'Public' : 'Privé' }}</span>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #trackList>
    <h2>Mes Tracks</h2>
    <ul>
      <li *ngFor="let track of tracks" class="track-item">
        <h3>{{ track.title }}</h3>
        <a [href]="track.url" target="_blank">Écouter</a>
      </li>
    </ul>
    <button (click)="returnToCollections()">Retour à la collection</button>
  </ng-template>

  <ng-template #noCollections>
    <p class="error-message">Aucune collection trouvée.</p>
  </ng-template>
</div>
