<div class="collection-list gradient-custom">
  <div *ngIf="!showingTracks; else trackList" @fadeInOut>
    <div class="content">
      <h2 *ngIf="!showingTracks">My Collections</h2>
      <button (click)="openCollectionForm()" mat-raised-button color="primary">Create a New Collection</button>
      <ul>
        <li *ngFor="let collection of collections" (click)="openCollectionTracks(collection.id)" class="collection-item">
          <div class="collection-info">
            <h3>{{ collection.name }}</h3>
            <span class="collection-public">{{ collection.public ? 'Public' : 'Private' }}</span>
            <button (click)="deleteCollection(collection.id)" mat-icon-button color="warn" aria-label="Delete Collection" class="delete-button">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <ng-template #trackList>
    <div @fadeInOut>
      <div class="content">
        <h2 *ngIf="showingTracks">My Tracks</h2>

        <!-- Bouton pour ouvrir le formulaire d'upload -->
        <button (click)="openUploadForm()" mat-raised-button color="primary">Upload a Track</button>


        <ul>
          <li *ngFor="let track of tracks" class="track-item">
            <h3>{{ track.title }}</h3>
            <button class="play-button" mat-icon-button (click)="playAudio(track.url)">
              <mat-icon>play_arrow</mat-icon> <!-- Icône de lecture -->
            </button>
          </li>
        </ul>
        
        <!-- Balise audio pour jouer les fichiers, cachée avec CSS -->
        <audio #audioPlayer class="hidden-audio" controls>
          <source [src]="currentTrackUrl" type="audio/mpeg">
          Votre navigateur ne supporte pas la lecture audio.
        </audio>
        <button (click)="returnToCollections()">Return to Collections</button>
      </div>
    </div>
  </ng-template>

  <ng-template #noCollections>
    <p class="error-message">No collections found.</p>
  </ng-template>
</div>
