<div class="dialog-header">
  <h1>Add a Collection</h1>
  <button (click)="close()" class="close-button" aria-label="Close">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" [(ngModel)]="name" name="name" required>
    <div *ngIf="name === ''">
      Name is required.
    </div>
  </div>

  <div>
    <label for="public">Public:</label>
    <select id="public" [(ngModel)]="publicOption" name="public" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
    <div *ngIf="publicOption === ''">
      Selection is required.
    </div>
  </div>

  <button type="submit" [disabled]="!name || !publicOption">Add</button>
</form>
