<app-navbar></app-navbar>
<div class="main-content">
  <div class="content-area">
    <div class="welcome-text">
      <h1>Welcome to <strong>BinaryHarmony</strong></h1>
      <p>
        Discover the ultimate platform for music enthusiasts to enjoy personalized blind tests! Our site allows you to create your own collections, add your favorite tracks, and customize your game settings for an engaging experience.
      </p>
      <p>
        With BinaryHarmony, you can challenge your friends or test your own musical knowledge. Create unique playlists from your personal library, and dive into the fun of guessing songs in a thrilling competition. Whether you are a casual listener or a music aficionado, there’s something for everyone!
      </p>
      <p>
        We believe that music brings people together, and our community is built on respect and camaraderie. Please remember to keep the chat friendly and supportive. Let's create an enjoyable atmosphere for all users as we share our love for music!
      </p>
      <p>
        Join us today and start creating your custom blind tests. Explore your musical taste, discover new tracks, and have fun with your friends in a harmonious environment!
      </p>
    </div>
  </div>
  <app-chat></app-chat>
</div>