<div class="setup-header">
    <h3>Setup Your Game</h3>
    <button (click)="close()" mat-icon-button aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-form-field appearance="outline" class="form-field">
    <mat-label>Track Duration (15-30 seconds)</mat-label>
    <input 
        matInput 
        type="number" 
        [(ngModel)]="trackDuration" 
        (ngModelChange)="trackDuration = validateTrackDuration($event)" 
        min="15" 
        max="30">
    <mat-error *ngIf="trackDuration < 15 || trackDuration > 30">
        Please enter a value between 15 and 30 seconds.
    </mat-error>
</mat-form-field>

<mat-form-field appearance="outline" class="form-field">
    <mat-label>Pause Duration Between Tracks (5-20 seconds)</mat-label>
    <input 
        matInput 
        type="number" 
        [(ngModel)]="pauseDuration" 
        (ngModelChange)="pauseDuration = validatePauseDuration($event)" 
        min="5" 
        max="20">
    <mat-error *ngIf="pauseDuration < 5 || pauseDuration > 20">
        Please enter a value between 5 and 20 seconds.
    </mat-error>
</mat-form-field>

<mat-form-field appearance="outline" class="form-field">
    <mat-label>Number of Tracks (1-{{ totalTracks }})</mat-label>
    <input 
        matInput 
        type="number" 
        [(ngModel)]="numberOfTracks" 
        (ngModelChange)="numberOfTracks = validateNumberOfTracks($event)" 
        min="1" 
        [max]="totalTracks">
    <mat-error *ngIf="numberOfTracks < 1 || numberOfTracks > totalTracks">
        Please enter a value between 1 and {{ totalTracks }}.
    </mat-error>
</mat-form-field>

<button mat-raised-button color="primary" (click)="startGame()" class="start-button">Start Game</button>
