.gradient-custom {
    background: radial-gradient(#BCBEC0, #000000);
    }
.gradient-custom2{
        background: radial-gradient(#8f99a9, #000000);
        box-shadow: rgba(67, 230, 81, 0.886) 2px 20px 33px 20px
    }